#banner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  gap: 10px;
}

#banner > div {
  background-color: seagreen;
  /* position: relative; */
}

#banner > div:nth-child(1) {
  background-color: bisque;
  height: 50vh;
  grid-column: 1/4;
  grid-row: 1/2;
  background-image: url(https://storage.googleapis.com/danacita-website-v3-prd/website_v3/images/logo_purwadhika.original.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 30px;
}

#banner > div:nth-child(2) {
  background-color: aquamarine;
  height: 30vh;
  background-image: url(https://minio.production.cloudplatform.tech/scalable-pages/2022/12/YcFPoTXz-wheel.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  position: relative;
}

#banner > div:nth-child(3) {
  background-image: url(https://i.pinimg.com/736x/98/e7/5f/98e75f18228b45bfc1bf140f3903139e.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  position: relative;
}

#banner > div:nth-child(4) {
  background-image: url(https://imajiku.com/userfiles/post/6662c24f865db.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  position: relative;
}

@media (max-width: 769px) {
  #banner {
    grid-template-columns: 1fr;
  }

  #banner > div:nth-child(1) {
    grid-column: 1/2;
  }

  /* #banner > div:nth-child(2) {
    height: 30vh;
  }

  #banner > div:nth-child(3) {
    height: 50vh;
  } */
}
