#container > div{
    width: 150px;
    height: 150px;
    background-color: salmon;
}

#container > div:nth-child(2){
    background-color: slateblue;
    /* margin-top: 10px;
    margin-left: 50px; */
    /* margin: 100px; */
    /* margin: 100px 50px;  */
    margin: 10px 20px 10px 20px; 
    border: 10px solid black;
    padding-top: 30px;
}