/* MOBILE FIRST APPROACH */
/* Default Untuk Mobile (0px - 768px) */
/* h1{
    color: green;
} */

/* Tablet (769px - 1023px) */
/* @media (min-width: 769px) {
  h1{
    color: blue; 
  }
} */

/* Desktop */
/* @media (min-width: 1024px) {
  
} */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* DESKTOP FIRST */
h1{
    color: red;
}

/* Tablet */
@media(max-width: 1024px){
    h1{
        color: green;
    }
}

/* Mobile */
@media(max-width: 769px){

}