@import 'tailwindcss';
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');

@theme {
  --color-primary-950: #000000;
  --color-primary-900: #04106f;
  --color-primary-800: #10239f;
  --color-primary-700: #293ab6;
  --color-primary-600: #3c4dc6;
  --color-primary-500: #3e52d5; /* Main brand */
  --color-primary-400: #5668d8;
  --color-primary-300: #6f7fe3;
  --color-primary-200: #8a96e2;
  --color-primary-100: #a5abdf;
  --color-primary-50: #c0c2df;
  --color-primary-0: #d5d5d5;
  --color-secondary-950: #000000;
  --color-secondary-900: #003d2a;
  --color-secondary-800: #004e35;
  --color-secondary-700: #005d40;
  --color-secondary-600: #08764f;
  --color-secondary-500: #10b981; /* Main brand */
  --color-secondary-400: #31be8c;
  --color-secondary-300: #57cd9a;
  --color-secondary-200: #6ddba7;
  --color-secondary-100: #a2d8b8;
  --color-secondary-50: #d5d5d5;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}
